.card{
    &-body{
        text-align: center;
    }
    &-text{
        font-weight: 700;
    }
}
.footer{
    background-color: #ffffff81;
    font-family: 'Josefin Sans', sans-serif;
    min-height: 10vh;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    &-test{
        font-size: 1.5rem;
        font-weight: 300;
    }
}
@media (max-width:768px){
    .a{
        display: none;
    }
}