body {
  background-color: #1d1d1d;
}

.video {
  z-index: -1;
  position: fixed;
  width: 100vw;
  -webkit-filter: blur(3px);
          filter: blur(3px);
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 1024px) {
  .video {
    display: none;
  }
}

.container-md {
  font-family: 'Josefin Sans', sans-serif;
  z-index: 100;
}

.row {
  gap: 1rem 95px;
}

.col-md-4 {
  background-color: #ffffff81;
  border-radius: 10px;
  min-height: 70vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.col-md-7 {
  min-height: 70vh;
  border-radius: 10px;
  background-color: #ffffff81;
}

.s2 {
  background-color: #ffffff81;
  border-radius: 10px;
  min-height: 100vh;
}

@media (max-width: 1024px) {
  .row {
    gap: 1rem 80px;
  }
}

@media (max-width: 1024px) and (max-width: 768px) {
  .row {
    gap: 1rem 60px;
  }
}

.col-md-12 {
  min-height: 25vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.icon {
  width: 300px;
}

.carousel {
  min-height: 70vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.box-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.box-1-img {
  width: 119px;
  border-radius: 100%;
}

.box-2-header {
  font-size: 1.5rem;
  text-align: center;
}

.box-2-p {
  text-align: center;
  font-weight: 600;
}

.poster {
  border-radius: 10px;
  -webkit-box-shadow: 0px 1px 10px #000;
          box-shadow: 0px 1px 10px #000;
}

@media (max-width: 768px) {
  .box-2-p {
    font-size: 12px;
  }
  .poster {
    width: 200px;
  }
}

.s2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px;
  gap: 1.5rem;
}

.s2-header {
  color: #000000;
  font-size: 3.5rem;
  display: block;
  border-bottom: 1px solid #000000;
}

.s2-header-sub {
  font-weight: 300;
  color: #ffff;
  text-shadow: 0 1px 10px #ffff;
}

.list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5px;
  list-style: none;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 5px;
  width: 200px;
}

.list-item-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.list-item-img:hover {
  -webkit-transform: perspective(200px) translateZ(20px);
          transform: perspective(200px) translateZ(20px);
}

@media (max-width: 425px) {
  .list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 5px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .list-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 5px;
    min-width: 200px;
  }
  .list-item-img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

.s3 {
  background-color: #ffffff81;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.5rem;
  padding: 1.5rem;
}

.clip {
  width: 400px;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}

.clip-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.5rem;
}

.clip-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.5rem;
}

@media (max-width: 768px) {
  .clip-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .clip-item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 425px) {
  .clip {
    width: 100%;
  }
}
/*# sourceMappingURL=main.css.map */